In [1]:
#### account module, cost 입력 방법 ####

In [2]:
import importlib
import pandas as pd
import numpy as np
import account as acc

In [24]:
importlib.reload(acc)

In [25]:
#### INPUT BASIC DATA ####
mtrt = 26 # months
prd_prjt = 24 # months

prcs_rate = pd.Series(np.ones(prd_prjt) * 1/prd_prjt, index=np.arange(1, prd_prjt+1))
#### INPUT BASIC DATA ####


#### INPUT COST DATA ####
costA = acc.account(title="costA", tag=("costA", "-"), mtrt=mtrt,
                    add_scdd_ipt=pd.Series([30_000.000], index=[0]),
                    note="-")

costB_amt = 40_000.000
costB = acc.account(title="costB", tag=("costB", "-"), mtrt=mtrt,
                    add_scdd_ipt=costB_amt * prcs_rate,
                    note="-")

dct = {'costA':costA, 'costB':costB}
cost = acc.merge(dct)
#### INPUT COST DATA ####

In [26]:
cost.dct['costA'].addamt(0, cost.dct['costA'].add_rsdl(0))

In [27]:
for i in prcs_rate.index:
    cost.dct['costB'].addamt(i, cost.dct['costB'].add_rsdl(i))

In [28]:
cost.dct['costA'].df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_sub,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,30000.0,30000.0,0.0,0.0,0.0,30000.0,0.0,30000.0,0.0,0.0
1,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
2,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
3,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
4,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
5,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
6,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
7,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
8,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
9,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
10,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
11,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
12,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
13,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
14,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
15,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
16,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
17,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
18,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
19,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
20,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
21,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
22,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
23,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
24,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
25,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0
26,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0,30000.0,0.0,0.0

In [29]:
cost.dct['costB'].df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_sub,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
1,1666.666667,1666.666667,0.0,0.0,0.000000,1666.666667,0.0,1666.666667,0.0,0.0
2,1666.666667,3333.333333,0.0,0.0,1666.666667,1666.666667,0.0,3333.333333,0.0,0.0
3,1666.666667,5000.000000,0.0,0.0,3333.333333,1666.666667,0.0,5000.000000,0.0,0.0
4,1666.666667,6666.666667,0.0,0.0,5000.000000,1666.666667,0.0,6666.666667,0.0,0.0
5,1666.666667,8333.333333,0.0,0.0,6666.666667,1666.666667,0.0,8333.333333,0.0,0.0
6,1666.666667,10000.000000,0.0,0.0,8333.333333,1666.666667,0.0,10000.000000,0.0,0.0
7,1666.666667,11666.666667,0.0,0.0,10000.000000,1666.666667,0.0,11666.666667,0.0,0.0
8,1666.666667,13333.333333,0.0,0.0,11666.666667,1666.666667,0.0,13333.333333,0.0,0.0
9,1666.666667,15000.000000,0.0,0.0,13333.333333,1666.666667,0.0,15000.000000,0.0,0.0
10,1666.666667,16666.666667,0.0,0.0,15000.000000,1666.666667,0.0,16666.666667,0.0,0.0
11,1666.666667,18333.333333,0.0,0.0,16666.666667,1666.666667,0.0,18333.333333,0.0,0.0
12,1666.666667,20000.000000,0.0,0.0,18333.333333,1666.666667,0.0,20000.000000,0.0,0.0
13,1666.666667,21666.666667,0.0,0.0,20000.000000,1666.666667,0.0,21666.666667,0.0,0.0
14,1666.666667,23333.333333,0.0,0.0,21666.666667,1666.666667,0.0,23333.333333,0.0,0.0
15,1666.666667,25000.000000,0.0,0.0,23333.333333,1666.666667,0.0,25000.000000,0.0,0.0
16,1666.666667,26666.666667,0.0,0.0,25000.000000,1666.666667,0.0,26666.666667,0.0,0.0
17,1666.666667,28333.333333,0.0,0.0,26666.666667,1666.666667,0.0,28333.333333,0.0,0.0
18,1666.666667,30000.000000,0.0,0.0,28333.333333,1666.666667,0.0,30000.000000,0.0,0.0
19,1666.666667,31666.666667,0.0,0.0,30000.000000,1666.666667,0.0,31666.666667,0.0,0.0
20,1666.666667,33333.333333,0.0,0.0,31666.666667,1666.666667,0.0,33333.333333,0.0,0.0
21,1666.666667,35000.000000,0.0,0.0,33333.333333,1666.666667,0.0,35000.000000,0.0,0.0
22,1666.666667,36666.666667,0.0,0.0,35000.000000,1666.666667,0.0,36666.666667,0.0,0.0
23,1666.666667,38333.333333,0.0,0.0,36666.666667,1666.666667,0.0,38333.333333,0.0,0.0
24,1666.666667,40000.000000,0.0,0.0,38333.333333,1666.666667,0.0,40000.000000,0.0,0.0
25,0.000000,40000.000000,0.0,0.0,40000.000000,0.000000,0.0,40000.000000,0.0,0.0
26,0.000000,40000.000000,0.0,0.0,40000.000000,0.000000,0.0,40000.000000,0.0,0.0

In [30]:
cost.df()

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_sub,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
0,30000.000000,30000.000000,0.0,0.0,0.000000,30000.000000,0.0,30000.000000,0.0,0.0
1,1666.666667,31666.666667,0.0,0.0,30000.000000,1666.666667,0.0,31666.666667,0.0,0.0
2,1666.666667,33333.333333,0.0,0.0,31666.666667,1666.666667,0.0,33333.333333,0.0,0.0
3,1666.666667,35000.000000,0.0,0.0,33333.333333,1666.666667,0.0,35000.000000,0.0,0.0
4,1666.666667,36666.666667,0.0,0.0,35000.000000,1666.666667,0.0,36666.666667,0.0,0.0
5,1666.666667,38333.333333,0.0,0.0,36666.666667,1666.666667,0.0,38333.333333,0.0,0.0
6,1666.666667,40000.000000,0.0,0.0,38333.333333,1666.666667,0.0,40000.000000,0.0,0.0
7,1666.666667,41666.666667,0.0,0.0,40000.000000,1666.666667,0.0,41666.666667,0.0,0.0
8,1666.666667,43333.333333,0.0,0.0,41666.666667,1666.666667,0.0,43333.333333,0.0,0.0
9,1666.666667,45000.000000,0.0,0.0,43333.333333,1666.666667,0.0,45000.000000,0.0,0.0
10,1666.666667,46666.666667,0.0,0.0,45000.000000,1666.666667,0.0,46666.666667,0.0,0.0
11,1666.666667,48333.333333,0.0,0.0,46666.666667,1666.666667,0.0,48333.333333,0.0,0.0
12,1666.666667,50000.000000,0.0,0.0,48333.333333,1666.666667,0.0,50000.000000,0.0,0.0
13,1666.666667,51666.666667,0.0,0.0,50000.000000,1666.666667,0.0,51666.666667,0.0,0.0
14,1666.666667,53333.333333,0.0,0.0,51666.666667,1666.666667,0.0,53333.333333,0.0,0.0
15,1666.666667,55000.000000,0.0,0.0,53333.333333,1666.666667,0.0,55000.000000,0.0,0.0
16,1666.666667,56666.666667,0.0,0.0,55000.000000,1666.666667,0.0,56666.666667,0.0,0.0
17,1666.666667,58333.333333,0.0,0.0,56666.666667,1666.666667,0.0,58333.333333,0.0,0.0
18,1666.666667,60000.000000,0.0,0.0,58333.333333,1666.666667,0.0,60000.000000,0.0,0.0
19,1666.666667,61666.666667,0.0,0.0,60000.000000,1666.666667,0.0,61666.666667,0.0,0.0
20,1666.666667,63333.333333,0.0,0.0,61666.666667,1666.666667,0.0,63333.333333,0.0,0.0
21,1666.666667,65000.000000,0.0,0.0,63333.333333,1666.666667,0.0,65000.000000,0.0,0.0
22,1666.666667,66666.666667,0.0,0.0,65000.000000,1666.666667,0.0,66666.666667,0.0,0.0
23,1666.666667,68333.333333,0.0,0.0,66666.666667,1666.666667,0.0,68333.333333,0.0,0.0
24,1666.666667,70000.000000,0.0,0.0,68333.333333,1666.666667,0.0,70000.000000,0.0,0.0
25,0.000000,70000.000000,0.0,0.0,70000.000000,0.000000,0.0,70000.000000,0.0,0.0
26,0.000000,70000.000000,0.0,0.0,70000.000000,0.000000,0.0,70000.000000,0.0,0.0

In [31]:
cost.df('amt_add')

       costA        costB
-1       0.0     0.000000
 0   30000.0     0.000000
 1       0.0  1666.666667
 2       0.0  1666.666667
 3       0.0  1666.666667
 4       0.0  1666.666667
 5       0.0  1666.666667
 6       0.0  1666.666667
 7       0.0  1666.666667
 8       0.0  1666.666667
 9       0.0  1666.666667
 10      0.0  1666.666667
 11      0.0  1666.666667
 12      0.0  1666.666667
 13      0.0  1666.666667
 14      0.0  1666.666667
 15      0.0  1666.666667
 16      0.0  1666.666667
 17      0.0  1666.666667
 18      0.0  1666.666667
 19      0.0  1666.666667
 20      0.0  1666.666667
 21      0.0  1666.666667
 22      0.0  1666.666667
 23      0.0  1666.666667
 24      0.0  1666.666667
 25      0.0     0.000000
 26      0.0     0.000000